<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  



  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleRegister</servlet-name>
    <servlet-class>myservlet.control.HandleRegister</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleLogin</servlet-name>
    <servlet-class>myservlet.control.HandleLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleUpload</servlet-name>
    <servlet-class>myservlet.control.HandleUpload</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleDatabase</servlet-name>
    <servlet-class>myservlet.control.HandleDatabase</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandlePassword</servlet-name>
    <servlet-class>myservlet.control.HandlePassword</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleModifyMess</servlet-name>
    <servlet-class>myservlet.control.HandleModifyMess</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>HandleExit</servlet-name>
    <servlet-class>myservlet.control.HandleExit</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>HandleRegister</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleLogin</servlet-name>
    <url-pattern>/helpLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleUpload</servlet-name>
    <url-pattern>/helpUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleDatabase</servlet-name>
    <url-pattern>/helpShowMember</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandlePassword</servlet-name>
    <url-pattern>/helpModifyPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleModifyMess</servlet-name>
    <url-pattern>/helpModifyMess</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HandleExit</servlet-name>
    <url-pattern>/exit</url-pattern>
  </servlet-mapping>

</web-app>